<div class="container">
  <h2>Car List</h2>
  <div *ngFor="let car of cars" class="car-list-item">
    <div class="car-details">
      <a [routerLink]="['/cars', car.id]">{{ car.make }}</a>
    </div>
    <div class="delete-button">
      <button mat-icon-button (click)="deleteCar(car.id!)" aria-label="Delete car">
        <mat-icon color="warn">delete</mat-icon>
      </button>
    </div>
  </div>
  <div class="add-car-button">
    <button mat-raised-button color="primary" [routerLink]="['/cars/new']">
      <mat-icon>add</mat-icon> Add Car
    </button>
  </div>
</div>
