<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Car List</h2>
      <ul>
        <li *ngFor="let car of cars">
          <a [routerLink]="['/cars', car.id]">{{ car.make }} {{ car.model }}</a>
          <img *ngIf="car.picture" [src]="car.picture" alt="{{ car.make }} {{ car.model }}" style="max-width: 200px;">
          <button (click)="deleteCar(car.id!)">Delete</button>
        </li>
      </ul>
      <button [routerLink]="['/cars/new']">Add Car</button>
    </div>
  </div>
</div>
