<mat-card class="car-detail-card">
  <mat-card-header>
    <mat-card-title>{{ car?.make }} {{ car?.model }}</mat-card-title>
  </mat-card-header>

  <img *ngIf="imageUrl" [src]="imageUrl" mat-card-image alt="{{ car?.make }} {{ car?.model }}" class="imgArea">

  <mat-card-content>
    <p>Year: {{ car?.manufactureYear }}</p>
    <p>Price: {{ car?.price }}</p>
    <p>Owner ID: {{ car?.ownerId }}</p>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button color="warn" (click)="deleteCar()">Delete</button>
    <button mat-raised-button color="primary" [routerLink]="['/cars', car?.id, 'edit']">Edit</button>
  </mat-card-actions>
</mat-card>
