<mat-card class="car-form-card">
  <h2>{{ carId ? 'Edit Car' : 'Add Car' }}</h2>
  <form [formGroup]="carForm" (ngSubmit)="saveCar()">
    <mat-form-field appearance="fill">
      <mat-label>Make</mat-label>
      <input matInput id="make" type="text" formControlName="make" />
      <mat-error *ngIf="carForm.get('make')?.hasError('required')">
        Make is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Model</mat-label>
      <input matInput id="model" type="text" formControlName="model" />
      <mat-error *ngIf="carForm.get('model')?.hasError('required')">
        Model is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Year</mat-label>
      <input matInput id="manufactureYear" type="number" formControlName="manufactureYear" />
      <mat-error *ngIf="carForm.get('manufactureYear')?.hasError('required')">
        Year is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Price</mat-label>
      <input matInput id="price" type="number" formControlName="price" />
      <mat-error *ngIf="carForm.get('price')?.hasError('required')">
        Price is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Owner ID</mat-label>
      <input matInput id="ownerId" type="number" formControlName="ownerId" />
      <mat-error *ngIf="carForm.get('ownerId')?.hasError('required')">
        Owner ID is required
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      {{ carId ? 'Update' : 'Create' }}
    </button>
  </form>
</mat-card>
